* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: lucida grande, tahoma, verdana, arial, sans-serif;
  width: 100%;
  height: 100%;
  background: #2d4052;
  position: absolute;
  background: -webkit-linear-gradient(left, #2d4052 25%, white 50%, #f19c14 75%);
  background: -o-linear-gradient(right, #2d4052 25%, white 50%, #f19c14 75%);
  background: -moz-linear-gradient(right, #2d4052 25%, white 50%, #f19c14 75%);
  background: linear-gradient(to right, #2d4052 25%, white 50%, #f19c14 75%); }

h1, h1 a {
  font-size: 20px;
  color: #f19c14; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px; }
  header h6 {
    color: #fff;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 3px; }
    header h6 a:hover {
      color: rgba(254, 253, 251, 0.7); }
    @media screen and (max-width: 404px) {
      header h6 {
        margin-top: 10px;
        text-align: center;
        line-height: 25px; }
        header h6 span {
          display: none; } }
    @media screen and (min-width: 404px) and (max-width: 680px) {
      header h6 {
        margin-top: 10px;
        text-align: center; } }
    @media screen and (min-width: 680px) {
      header h6 {
        position: absolute;
        top: 12px;
        right: 108px; } }
  header nav {
    position: absolute;
    top: 12px;
    right: 20px; }
    header nav a:not(:first-of-type) {
      margin-left: 8px; }
    header nav i.fa-1x:hover {
      color: #f19c14; }

.main {
  position: absolute;
  width: 100%;
  top: 44px; }
  .main .content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    margin: 80px auto 15px auto;
    border-radius: 15px;
    padding: 20px;
    font-family: arial;
    max-width: 500px; }
    .main .content p {
      text-align: center;
      color: white;
      line-height: 1.4; }
      .main .content p a {
        text-decoration: underline;
        text-decoration-style: dotted; }
    .main .content p:not(:first-of-type) {
      margin-top: 10px; }
    .main .content .btn {
      border: 1px solid #25692A;
      width: 100%;
      border-radius: 4px;
      cursor: pointer;
      font-family: Verdana;
      font-weight: bold;
      font-size: 18px;
      padding: 20px 0;
      margin-top: 10px; }
      .main .content .btn:active {
        position: relative;
        top: 1px; }
    .main .content .btn-form {
      border-color: #eb9b48;
      background: linear-gradient(to bottom, #f7d6b3 5%, #eb9b48 100%);
      box-shadow: inset 0px 1px 0px 0px #fdf7f0;
      color: #333;
      text-shadow: 0px 1px 0px #ffee66;
      margin-bottom: 15px; }
      .main .content .btn-form:hover {
        background: linear-gradient(to bottom, #eb9b48 5%, #f7d6b3 100%); }
    .main .content .share-buttons {
      display: flex;
      padding-top: 20px; }
      @media screen and (max-width: 680px) {
        .main .content .share-buttons {
          display: block; } }
      .main .content .share-buttons .btn-items {
        margin: 0 auto; }
        @media screen and (max-width: 680px) {
          .main .content .share-buttons .btn-items {
            text-align: center; } }
      @media screen and (max-width: 680px) {
        .main .content .share-buttons .btn-items:not(:first-of-type) {
          margin-top: 10px; } }

#central-frame {
  margin-top: 44px;
  text-align: center; }
  @media screen and (min-width: 404px) and (max-width: 680px) {
    #central-frame {
      margin-top: 72px; } }
  @media screen and (max-width: 404px) {
    #central-frame {
      margin-top: 104px; } }

#formulario {
  width: 100%;
  height: 600px; }

/*# sourceMappingURL=style.css.map */
